.gh-head {
    font-weight: 500;
}

.gh-head-brand {
    display: flex;
    align-items: center;
}

.gh-head-logo {
    font-family: "espiritu";
    font-size: 3.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    white-space: nowrap;
}

.gh-head-logo img {
    height: 50px;
    width: auto;
    display: inline-block; /* Ensures it stays aligned */
    vertical-align: middle;
}

.gh-head-logo span {
    white-space: nowrap;
    display: block;
}

/* .gh-head-btn.gh-btn {
    padding: 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.1;
} */

/* .gh-head-btn.gh-btn:hover {
    opacity: 0.95;
} */
